@import "../../styles/variables";

.back-link {

    display: inline-flex;
    text-decoration: none;

    svg {
        margin-right: $--space-4;
        color: inherit;
    }

    span {
        font-weight: 700;
        font-size: $--font-size-small;
        color: inherit;
        text-decoration: none;
    }

}