@import "../../../styles/_variables";

.sniff-nav-link {
    padding-top: $--space-16;
    color: $--color-black;
    display: block;
    text-decoration: none;
    z-index: 1;

    span {
        display: inline-flex;
        position: relative;
    }

    &.active {
        span {
            z-index: 1;

            &::after {
                position: absolute;
                z-index: -1;
                left: -4px;
                top: 13px;
                content: "";
                display: block;
                width: calc(100% + 8px);
                height: 8px;
                background-color: $--color-primary;
            }
        }
    }
}

// no sniff prefix because .active style are not overwritten

@media (min-width: $--xl) {
    .sniff-nav-link {
        padding-bottom: $--space-24;
        padding-top: $--space-24;

        &:not(:last-child) {
            margin-right: $--space-24;
        }

        &:hover {
            color: $--color-black;
        }

        &:hover span::after {
            position: absolute;
            z-index: -1;
            left: -4px;
            top: 13px;
            content: "";
            display: block;
            width: calc(100% + 8px);
            height: 8px;
            background-color: $--color-primary-40;
        }
    }
}

@media (min-width: $--xxl) {
    .sniff-nav-link {
        &:not(:last-child) {
            margin-right: 32px;
        }
    }
}