@import "../../../../styles/variables";

.sniff-admin-log-history {
  background-color: $--color-light-gray;
  border-radius: 0px 20px 20px 0px;
  border: 1px solid #f8f9fa;
  box-shadow: 0px 4px 20px 0px rgba(238, 238, 238, 0.5);
  padding: 34px 17px;

  .card.content {
    padding: 15px;

    @media (min-width: $--sm) {
      padding: 30px;
    }
  }

  .header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
  }

  .action {
    width: 200px;
    height: 40px;
    border-radius: 10px;

    display: flex;
    align-items: center;
    justify-content: center;
    color: $--color-white;

    &.type {
      background-color: $--red;
    }

    &.id {
      background-color: $--color-bright-purple;
    }

    &.date {
      color: $--color-white;
      background-color: $--green;
    }

    &.item_id {
      background-color: $--color-royal-blue;

      .icon {
        width: 20px;
        height: 20px;
        margin-right: 20px;
      }
    }
  }

  @media (min-width: $--xl) {
    padding: 46px 32px;
  }

  @media (min-width: 1200px) {
    &.col-xl-9 {
      flex: 0 0 auto;
      width: -webkit-fill-available;
    }

    .header {
      justify-content: space-between;
      gap: 0;
    }
  }

  @media (min-width: 1237px) {
    &.col-xl-9 {
      flex: 0 0 auto;
      width: 75%;
    }
  }
}
