@import "../../../styles/variables";

.section-pets-gallery {
  .sniff-page-header {
    margin: 80px 0px 48px 0px;

    h1 {
      font-size: 32px;
      font-style: normal;
      font-weight: 800;
      line-height: 40px;
    }
  }
}

.sniff-pets-list {
  padding-bottom: $--space-48;

  .card {
    margin-bottom: $--space-16;
  }
}

@media (min-width: $--sm) {
  .sniff-pets-list {
    display: grid;
    gap: $--space-16;
    grid-template-columns: repeat(2, 1fr);
    padding-bottom: 80px;

    .card {
      margin-bottom: 0;
    }
  }
}

@media (max-width: $--lg) {
  .card {
    margin-bottom: 0;
    grid-area: auto !important;
  }
}

@media (min-width: $--lg) {
  .sniff-pets-list {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: $--xl) {
  .section-pets-gallery {
    .sniff-page-header {
      display: flex;
      align-items: center;
      justify-content: center;

      h1 {
        font-size: 30px;
        line-height: 36px;
        text-align: center;
      }
    }
  }
}

@media (min-width: $--xl) {
  .sniff-pets-list {
    display: grid;
    gap: $--space-24;
    grid-template-columns: repeat(3, 1fr);
  }
}

.no-content {
  padding-bottom: 40px;
  h4 {
    margin-bottom: $--space-24;
  }
}
