@import "../../../../styles/_variables";

.pet-image-upload {
    margin-bottom: $--space-64;

    .title {
        margin-bottom: 2px;

        font-size: $--font-size-base;
        line-height: 1.5;
    }

    .text {
        margin-bottom: $--space-8;

        font-size: $--font-size-small;
        line-height: 1.5;

        color: $--color-black-60;
    }

    .has-error {
        margin-bottom: $--space-8;
        border: none;
        color: $--red;
    }

}